<%- include ('../partials/header.ejs') %>

<%- include ('../partials/main_nav.ejs') %>

<link rel='stylesheet' href='/Content/register.css' />
<main>
  <div class="container">
    <img src="/Assets/images/male_books.png"  width="400" height="600">
    <div>
      <br><br><br><br>
      <h1>Register to International Student Support</h1>
      <h1><%= title%></h1>
      <span>
        <button id="other" class="btn"><a href="/register">Student</a></button>
        <button id="other" class="btn"><a href="/staff-register">Staff</a></button>
        <button id="other" class="btn"><a href="/recruiter-register">Recruiter</a></button>
      </span>
      <h2></h2>
      <form method="POST" autocomplete="off">
        <fieldset class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter username"
            id="username"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter password"
            id="password"
            required
          /><br>
          <fieldset class="form-group">
            <label for="email">Email: </label>
            <input type="email" class="form-control"
            name="email" placeholder="Enter Email Address"
            id="email" required>
        </fieldset><br>

        <fieldset class="form-group">
            <label for="displayName">Display Name: </label>
            <input type="text" class="form-control"
            name="displayName" placeholder="Enter Display Name"
            id="displayName" required>
        </fieldset><br>

        <!-- <fieldset class="form-group">
          <label for="userType">Who are you? </label><br>
            <input type="radio" class="userType" value="student" id="student" name="account"/>
            <label for="radioOne" class="radio" chec>Student</label>
            <input type="radio" class="userType" value="staff" id="staff" name="account"/>
            <label for="radioTwo" class="radio">Staff</label>
            <input type="radio" class="userType" value="recruiter" id="recruiter" name="account"/>
            <label for="radioThree" class="radio">Recruiter</label>
        </fieldset> -->
        

        <fieldset class="form-group text-right">
          <input type="submit" class="btn btn-success" value="Register" />
          <a href="/"><br><br>
            <input type="button" class="btn btn-warning" value="Cancel" />
          </a>
        </fieldset>
            
        
      </form>
    </div>
  </div>

  <script>
    //obtain checkbox value as a string
    $("button").click(function(){
        var userType = $(".userType:checked").userType();
        alert(userType);
      });
  </script>

</main>

<%- include ('../partials/bottom_nav.ejs') %>  

<%- include ('../partials/footer.ejs') %>
