<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<link rel="stylesheet" href="/Content/team.css">
    <!--main content--> 
    <main>
    <div class="jumbotron">
        <h1 class="display-4"><%= title%></h1>
    </div>

<div class="team">
<table>
    <tr>
        <th>
            <!-- Contact Card ~ #01 -->
            <div class="card">
                <div class="banner">
                <div class="avatar"></div>
                </div>
                <h3>Kimberley Yung</h3>
                <p>301233224</p>
                <p>Software Engineer</p>
                <ul>

                </ul>
            </div>
        </th>
        <th>
            <!-- Contact Card ~ #02 (Blank) -->
            <div class="card">
                <div class="banner">
                <div class="avatar"></div>
                </div>
                <h3>Carolina Viviani</h3>
                <p>Student ID</p>
                <p>Software Engineer</p>
                <ul>

                </ul>
            </div>
        </th>
        <th>
            <!-- Contact Card ~ #03 (Blank) -->
            <div class="card">
                <div class="banner">
                <div class="avatar"></div>
                </div>
                <h3>Mandeep Kaur</h3>
                <p>Student ID</p>
                <p>Software Engineer</p>
                <ul>

                </ul>
            </div>
        </th>
        <th>
            <!-- Contact Card ~ #04 (Blank) -->
                <div class="card">
                    <div class="banner">
                    <div class="avatar"></div>
                    </div>
                    <h3>Wilson Rodriguez Arellano</h3>
                    <p>Student ID</p>
                    <p>Software Engineer</p>
                    <ul>

                    </ul>
                </div>
        </th>
        <th>
            <!-- Contact Card ~ #05 (Blank) -->
            <div class="card">
                <div class="banner">
                <div class="avatar"></div>
                </div>
                <h3>Yingying Feng</h3>
                <p>Student ID</p>
                <p>Software Engineer</p>
                <ul>

                </ul>
            </div>
        </th>
    </tr>
</table>
</div>     
    </main>

    <%- include ('partials/bottom_nav.ejs') %>

    <%- include ('partials/footer.ejs') %>