<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<link rel="stylesheet" href="/Content/team.css">
    <!--main content--> 
    <main>
    <div class="jumbotron">
        <h1 class="display-4"><%= title%></h1><br><br><br><br><br><br><br><br>
       
        <div class="team">
            <table>
                <tr>
                    <th>
                        <!-- Contact Card ~ #01 -->
                        <div class="card">
                            <div class="banner">
                            <div class="avatar"></div>
                            </div>
                            <a href="https://www.linkedin.com/in/kimberleyyung/"><h3>Kimberley Yung</h3></a>
                            <p>301233224</p>
                            <p>Software Engineer</p>
                            <ul>
            
                            </ul>
                        </div>
                    </th>
                    <th>
                        <!-- Contact Card ~ #02 (Blank) -->
                        <div class="card">
                            <div class="banner">
                            <div class="avatar"></div>
                            </div>
                            <a href="https://www.linkedin.com/in/carolina-viviani-37b68518a/"><h3>Carolina Viviani</h3></a>
                            <p>301223913</p>
                            <p>Software Engineer</p>
                            <ul>
            
                            </ul>
                        </div>
                    </th>
                    <th>
                        <!-- Contact Card ~ #03 (Blank) -->
                        <div class="card">
                            <div class="banner">
                            <div class="avatar"></div>
                            </div>
                           <a href="https://www.linkedin.com/in/mandeep-kaur-a12201256/"> <h3>Mandeep Kaur</h3></a>
                            <p>301225713</p>
                            <p>Software Engineer</p>
                            <ul>
            
                            </ul>
                        </div>
                    </th>
                    <th>
                        <!-- Contact Card ~ #04 (Blank) -->
                            <div class="card">
                                <div class="banner">
                                <div class="avatar"></div>
                                </div>
                                <h3>Wilson Rodriguez Arellano</h3>
                                <p>301232505</p>
                                <p>Software Engineer</p>
                                <ul>
            
                                </ul>
                            </div>
                    </th>
                    <th>
                        <!-- Contact Card ~ #05 (Blank) -->
                        <div class="card">
                            <div class="banner">
                            <div class="avatar"></div>
                            </div>
                            <h3>Yingying Feng</h3>
                            <p>301176809</p>
                            <p>Software Engineer</p>
                            <ul>
            
                            </ul>
                        </div>
                    </th>
                    <th>
                        <!-- Contact Card ~ #05 (Blank) -->
                        <div >
                            <img src="/Assets/images/team.png"  width="500" height="600"> 
            
                            </ul>
                        </div>
                    </th>
                </tr>
            </table>
            </div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  
           
    </div>


    </main>

    <%- include ('partials/bottom_nav.ejs') %>

    <%- include ('partials/footer.ejs') %>